<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Pothole Database Management System</title>
</head>

<body>
    {% block content %}
    {% if user.is_authenticated %}
    <nav class="navbar navbar-dark bg-dark" style="color: white;">
        <a class="navbar-brand">Pothole Database Management System</a>
        <a href="{% url 'logout_view' %}"><button class="btn btn-outline-light my-2 my-sm-0"
                type="submit">Logout</button></a>
    </nav>
    <!-- <h1> Welcome, {{ user.username }}. Your role is user</h1> -->


    {% block table %}
    {% if data %}

    <div class="container-fluid mt-3">
        <div class="row justify-content-center">
            <div class="col">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="form-block text-center" style="padding: 15px; border-radius: 15px;">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-group first">
                                    <label class="d-block" for="p_id ">Select Pothole</label>
                                    <select name="p_id" id="p_id">
                                        {% for p in p_list %}
                                        <option value="{{ p.p_id }}">{{ p.p_id }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <a href="{% url 'corporator' %}"><button type="submit"
                                        class="btn btn-pill text-white btn-primary" style="border-radius: 30px;">Mark as
                                        Done</button></a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-3">
        <div class="row justify-content-center">
            <div class="col">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="form-block text-center" style="padding: 15px 0 0 0; border-radius: 15px;">
                            <p style="text-align: left; font-size: larger; color: black; margin-left: 15px;">
                                Potholes marked done by contractors:
                            </p>
                            <table class="table table-dark table-striped" style="border-radius: 0 0 15px 15px;">
                                <thead>
                                    <tr>
                                        <th scope="col">Pothole ID</th>
                                        <th scope="col">Address</th>
                                        <th scope="col">Remarks</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Image</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in data %}
                                    <tr>
                                        <td style="vertical-align: middle;">{{ i.p_id }}</td>
                                        <td style="vertical-align: middle;">{{ i.address }}</td>
                                        <td style="vertical-align: middle;">{{ i.remarks }}</td>
                                        <td style="vertical-align: middle;">{{ i.date }}</td>
                                        <td style="vertical-align: middle;"><img src="{{ i.img.url }}" width="100"
                                                height="100"></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    {% else %}
    <div class="container-fluid mt-3">
        <div class="row justify-content-center">
            <div class="col">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="form-block text-center" style="padding: 15px; border-radius: 15px;">
                            <p class="m-2" style="text-align: center; font-size: larger; color: black;">Nothing to show
                                here</p>
                            <p class="m-2" style="text-align: center;">All requests are serviced!</p>
                            <a href="{% url 'corporator' %}"><button type="button"
                                    class="btn btn-pill text-white btn-primary" style="border-radius: 30px;">Go
                                    back</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endblock table %}




    {% else %}
    <nav class="navbar navbar-dark bg-dark" style="color: white;">
        <a class="navbar-brand">Pothole Database Management System</a>
    </nav>
    <div class="content">
        <div class="container">
            <div class="row justify-content-center">
                <!-- <div class="col-md-6 order-md-2">
          <img src="images/undraw_file_sync_ot38.svg" alt="Image" class="img-fluid">
        </div> -->
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <div class="form-block">
                                <div class="mb-4">
                                </div>
                                <p class="m-4" style="text-align: center; font-size: larger; color: black;">You are not
                                    logged in. Click
                                    here to login</p>
                                <a href="{% url 'login_view' %}"><button type="button"
                                        class="btn btn-pill text-white btn-block btn-primary">Login</button></a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    {% endif %}
    {% endblock %}
</body>

</html>