<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Pothole Database Management System</title>
</head>

<body>
    {% block content %}
    {% if user.is_authenticated %}
    <nav class="navbar navbar-dark bg-dark" style="color: white;">
        <a class="navbar-brand">Pothole Database Management System</a>
        <a href="{% url 'logout_view' %}"><button class="btn btn-outline-light my-2 my-sm-0"
                type="submit">Logout</button></a>
    </nav>


    <div class="container mt-4">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% if update %}

            <div class="container-fluid mt-3">
                <div class="row justify-content-center">
                    <div class="col">
                        <div class="row justify-content-center">
                            <div class="col-md-12">
                                <div class="form-block" style="padding: 15px; border-radius: 15px;">
                                    <div class="form-group">
                                        <label for="address">Address</label>
                                        <textarea class="form-control" id="address" name="address"
                                            rows="3">{{ edit.address }}</textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="remarks">Remarks</label>
                                        <textarea class="form-control" id="remarks" name="remarks"
                                            rows="3">{{ edit.remarks }}</textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="date">Select date</label><br>
                                        <input type="date" class="form-check-input" name="date" id="date"
                                            value="{{ edit.date | date:'Y-m-d' }}"
                                            style="margin-top: 0; margin-left: 0; border-radius: 17px; padding: 2px;">
                                        <br>
                                    </div>
                                    <div class="form-group">
                                        <label for="img">Image</label><br>
                                        <input type="file" id="img" name="img" accept="image/*">
                                    </div>
                                    <div class="form-group">
                                        <label for="ward_no">Ward Number</label>
                                        <select name="ward_no" id="ward_no">
                                            {% for ward in ward_list %}
                                            <option value="{{ ward.ward_no }}">{{ ward.ward_no }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-primary"
                                        style="border-radius: 30px; color: white">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            {% else %}

            <div class="container-fluid mt-3">
                <div class="row justify-content-center">
                    <div class="col">
                        <div class="row justify-content-center">
                            <div class="col-md-12">
                                <div class="form-block" style="padding: 15px; border-radius: 15px;">
                                    <div class="form-group">
                                        <label for="address">Address</label>
                                        <textarea class="form-control" id="address" name="address" rows="3"
                                            placeholder="Enter Pothole address" required></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="remarks">Remarks</label>
                                        <textarea class="form-control" id="remarks" name="remarks" rows="3"
                                            placeholder="Say something about the pothole" required></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="date">Select date</label><br>
                                        <input type="date" class="form-check-input" name="date" id="date"
                                            style="margin-top: 0; margin-left: 0; border-radius: 17px; padding: 2px;"
                                            required>
                                        <br>
                                    </div>
                                    <div class="form-group">
                                        <label for="img">Image</label><br>
                                        <input type="file" id="img" name="img" accept="image/*" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="ward_no">Ward Number</label>
                                        <select name="ward_no" id="ward_no">
                                            {% for ward in ward_list %}
                                            <option value="{{ ward.ward_no }}">{{ ward.ward_no }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-primary"
                                        style="border-radius: 30px; color: white">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% endif %}


    {% else %}
    <nav class="navbar navbar-dark bg-dark" style="color: white;">
        <a class="navbar-brand">Pothole Database Management System</a>
    </nav>
    <div class="content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <div class="form-block">
                                <div class="mb-4">
                                </div>
                                <p class="m-4" style="text-align: center; font-size: larger; color: black;">You are not
                                    logged in. Click here to login</p>
                                <a href="{% url 'login_view' %}"><button type="button"
                                        class="btn btn-pill text-white btn-block btn-primary">Login</button></a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    {% endif %}
    {% endblock %}
</body>

</html>