<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

  <!-- Style -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <title>Pothole Database Management System</title>
</head>
<body>
{% block content %}
  {% if user.is_authenticated %}
  <nav class="navbar navbar-dark bg-dark" style="color: white;">
        <a class="navbar-brand">Pothole Database Management System</a>
           <a href="{% url 'logout_view' %}"><button class="btn btn-outline-light my-2 my-sm-0" type="submit">Logout</button></a>
    </nav>
    <h1> Welcome, {{ user.username }}. Your role is user</h1>

<div class="container">
<form method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="address">Address</label>
    <textarea class="form-control" id="address" rows="3" placeholder="Enter Pothole address"></textarea>
  </div>
  <div class="form-group">
    <label for="remarks">Remarks</label>
    <textarea class="form-control" id="remarks" rows="3" placeholder="Say something about the pothole"></textarea>
  </div>
  <div class="form-group form-check">
    <input type="date" class="form-check-input" id="date">
    <label class="form-check-label" for="date">Select date</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

{% endif %}
{% endblock %}
</body>

</html>