<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
</head>

<body>
  {% extends 'base.html' %}

  {% block content %}
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">Pothole ID</th>
        <th scope="col">Address</th>
        <th scope="col">Remarks</th>
        <th scope="col">Time</th>
        <th scope="col">Image</th>
      </tr>
    </thead>
    <tbody>
    {% for i in data %}
      <tr>
      <td>{{ i.p_id }}</td>
      <td>{{ i.address }}</td>
      <td>{{ i.remarks }}</td>
      <td>{{ i.time }}</td>
      <td>{{ i.img }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
</body>

</html>